apiVersion: apps/v1
kind: Deployment
metadata:
  name: report-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: report-service
  template:
    metadata:
      labels:
        app: report-service
    spec:
      containers:
        - name: report-service
#          build:
#            context: .
#            dockerfile: Dockerfile
#          image: devamber/report-service:latest   # use your Docker Hub image
          image: report-service:1.0 #local image for time
          ports:
            - containerPort: 6060
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: dev  # switch between local/dev
            - name: SPRING_DATASOURCE_URL
              value: jdbc:mysql://mysql:3306/ecommerce_report?useSSL=false&allowPublicKeyRetrieval=true
            - name: SPRING_DATASOURCE_USERNAME
              value: root
            - name: SPRING_DATASOURCE_PASSWORD
              value: root
            - name: SPRING_JPA_HIBERNATE_DDL_AUTO
              value: "none"
            - name: SPRING_FLYWAY_ENABLED
              value: "true"
            - name: SPRING_FLYWAY_BASELINE_ON_MIGRATE
              value: "true"
---
apiVersion: v1
kind: Service
metadata:
  name: report-service
spec:
  type: NodePort
  selector:
    app: report-service
  ports:
    - port: 6060
      targetPort: 6060
      nodePort: 32060
      #http://<minikube-ip>:32060
      #minikube ip
